/* Reset some default styles */
*{
  box-sizing: border-box;
}
:root{
  --bgColor: rgb(232, 232, 232);
  --textColor:rgb(36, 40, 46);
  --main: #8ebcfc;
  --mainD:#285798;
  --main-1: rgb(255, 149, 74);

}
::-moz-selection { /* Code for Firefox */
  color: var(--bgColor);
  background: var(--mainD);
  border-radius: 5px;
}

::selection {
  color: var(--bgColor);
  background: var(--mainD);
  border-radius: 5px;
}
html, body, ul, li {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  color: var(--textColor);
  scroll-behavior: smooth;
  font-size: 16px;
  perspective: 1500px;


}
@media (max-width: 600px) {
  html{
    font-size: 12px;

  }
}


body {
  font-family: "Noto Sans", sans-serif;
  background-color: var(--bgColor);
  font-size: 1rem;

}

.totContentContainer{
  margin: auto;
}

header {
  color: var(--textColor);
  padding: 2rem;
  padding-bottom: 0;
  column-gap: 4rem;
  row-gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
flex-wrap: wrap;
}

header h1 {
  margin: 0;
}
nav{
  flex-grow: 1;
  margin-bottom: 1rem;
}

nav ul {
  list-style: none;
  text-align: right;
}

nav ul li {
  display: inline;
  margin-right: 20px;
  font-weight: 700;
}
nav ul li:last-child {
  margin-right: 0px;
}

nav ul li a {
  color: var(--textColor);
  text-decoration: none;
  font-size: 1rem;

}

section {
  padding: 10px;
}

section h2 {
  margin-bottom: 10px;
}

.project {
  margin-bottom: 20px;
}



.logo{
  max-width: 50px;
  filter: drop-shadow(0 0 1rem var(--main));
}
.logoName{
  font-size: 2rem;
  border: 0.25rem solid var(--mainD);
  border-radius: 5000px;
  padding: 5px;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  color: var(--mainD);
  font-weight: 900;

}
.name{
  font-size: 2rem;
  border: 0.25rem solid var(--mainD);
  border-radius: 5000px;
  padding: 5px 10px;
  aspect-ratio: 1;
  color: var(--mainD);
  font-weight: 900;

}


#about{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.profilePic{
  width: 17rem;
  height: 17rem;
  border-radius:50%; 
  background-color: var(--bgColor); 
  box-shadow:
  0 0 20rem 100px var(--main);
  z-index: -10;
  position: relative;
  object-fit: cover;
  border: 5px solid var(--mainD);
  animation: fadeInAndSlideIn  1.5s ease-in-out; /* Use the floating animation with 3 seconds duration, ease-in-out timing function, and repeat infinitely */
animation: floating 2s ease-in-out infinite;
}
@keyframes fadeInAndSlideIn {
  from {
    opacity: 0; /* Start with transparency */
    transform: translateY(-30px); /* Start with the image above its final position */
  }
  to {
    opacity: 1; /* End with full opacity */
    transform: translateY(0); /* End at its final position */
  }
}
@keyframes floating {
  0%, 100% {
    transform: translateY(0); /* Start and end at the original position */
  }
  50% {
    transform: translateY(-5px); /* Move the element upwards */
  }
}
#about .right{
  max-width: 600px;
  width: fit-content;
 text-transform: capitalize;
}
#about .right h2{
  font-size: 3rem;
  margin: 0;
  font-weight: 900;
}
@media (max-width: 600px) {
  #about .right{
    text-align: center!important;

  }
}
#about .right p{
  font-weight: 700;
  font-size: 1.2rem;

}
#about .right p .name{
  font-size: 1.4rem;
  font-weight: 900;
}

.link:hover{
  color: var(--main);
  border-bottom: 3px solid var(--mainD);

}
/*-------------------------*/

#solutions .row{
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap-reverse;
column-gap: 2rem;
width: 100%;
margin-bottom: 3rem;
}
.digitalSolutionIcon{
  max-width: 12rem;
  filter: drop-shadow(0 0 0.5rem var(--main));  
}

#solutions .row .frase{
  font-weight: 900;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
  }
  #solutions .row .moreDetails{
  font-weight: 600;
  font-size: 1rem;
  max-width: 400px;
  }
  #benefitsSection{
    background-color: var(--mainD);
    padding: 6rem;
    box-shadow: 0 0 12px 2px var(--mainD); /* adds blur to smooth color transitions */
    margin-top: -2px; /* layers it on top of the previous <span> */
  }
  #benefitsSection h2{
    font-weight: 900;
    font-size: 1.4rem;
    margin-bottom: 3rem;
    text-transform: capitalize;
    text-align: center;
    color: white;

  }

  .benefits{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    animation: fadeInAndSlideIn 0.5s ease-in-out; /* Use the combined fadeInAndSlideIn animation with 1 second duration */

  }
  @media (max-width: 600px) {
    .benefits{
      flex-direction: row;
  
    }
  }
  .benef{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 12rem;
    flex-grow: 1;
    gap: 5px;
    font-weight: 700;
    border: 0.25rem solid white;
    color: white;
    padding: 0.6rem 1.2rem;
    border-radius: 100px;
    filter: drop-shadow(0 0 0.5rem var(--main));  

    
  }
  .benefIcon{
    font-size: 1.5rem;
    height: 1.8rem;
    width: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    color:white;
    border-radius: 50%;

  }
/*------------------------------------------*/
#products h2{
  text-align: center;
  font-weight: 800;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
color: var(--mainD);

}

#products .cardContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  gap: 3rem;
  
  
}
#products .card{
  padding: 3rem;
  background-color: var(--main);
  color: var(--mainD);
  border-radius: 10px;
  width: 250px;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  transform: rotate3d(0);
  box-shadow: 0 1px 5px #00000099;


}
#products .card:hover{
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 12px 2px var(--mainD);
  transition-duration: 150ms;
  box-shadow: 0 5px 20px 5px #00000044;
}
.card .glow {
  position: absolute;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  
  background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
}
#products .cardIcon{
  width: 5rem;
  margin-bottom: 1rem;
}
#products .cardText{
  font-weight: 800;
  text-align: center;
  font-size: 1.3rem;
}

.subtext {
  margin-top: 1rem;
  font-weight: 600;
  transition: height 10s ease !important; /* Added transition for smooth effect */
  overflow: hidden;
  text-align: center;
}

#products .card:hover .subtext {
height: fit-content;
}

/*------------------------------------------*/
.whyme{
  border-bottom: 4px solid var(--mainD);
  font-weight: 700;
}
#pros .container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 4rem;

}
#pros .pilars{
  font-weight: 900;
  font-size: 3rem;
  color: var(--mainD);
  margin-bottom: 2rem;

}
#pros .container .row{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
#pros .rows{

max-width: 500px;
}
#pros .container .proContainer{
  display: flex;
  align-items: center;
  justify-content: left;
  min-width: 300px;
  gap: 1rem;
  margin-bottom: 1rem;

}
.proIcon{
  background-color: var(--main);
  color: var(--mainD);
  padding: 0.5rem;
  width: fit-content;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  border-radius: 1000px;
  font-weight: 900;
  box-shadow:
  0 0 30px 00px var(--main);
  animation: floating 1.2s ease-in-out infinite; /* Use the floating animation with 3 seconds duration, ease-in-out timing function, and repeat infinitely */

}

.proTitle{
color: var(--mainD);
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 0.2rem;
  filter: drop-shadow(0 0 1rem var(--main));  

}

.proExplanation{
  max-width: 500px;
  padding: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  word-wrap: break-word;

}

#cosaFaccio .frase{
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;

}


#cosaFaccio .row{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8rem;
  padding: 2rem;
}
#cosaFaccio .work{
  box-shadow:
  0 0 50px 00px var(--main),
  0 0 40px 20px var(--main);
  background-color: var(--main);
  z-index: -10;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  padding: 2rem;
  text-align: center;
  flex-wrap: wrap;
  font-size: 1.2rem;
}
.moreDetails{
  font-weight: 600;
  font-size: 1rem;

  
}
#contact{
  margin-bottom: 50px;
  height: 50vh;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

@media (max-width: 600px) {
  #contact h2{
    text-align: center!important;

  }
}

#contact h2{
  color: var(--mainD);
  font-weight: 900;
  text-align: right;
  font-size: 3rem;
  margin: 0;
}
#contact .info{
  font-weight: 600;
  margin: 0;
  border-radius: 10px;
  border: 4px solid var(--mainD);
  padding: 2rem;
  max-width: 100%;
}
#contact .info p{
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;

}
#contact .info p svg{
  margin: 0;

}
#contact .myname{
font-weight: 900;
color: var(--mainD);
font-size: 1.7rem;
margin-bottom: 0.5rem!important;
}

footer{
  text-align: center;
  color: var(--mainD);
  font-weight: 600;
  padding: 5rem;
}



/*-------------------------------------- ANIMATION ___________________*/
.animated-info {
  display: inline-block;
  vertical-align: top;
  min-width: 18rem;
  position: relative;
  text-align: left!important;
}

.textBello {
  color: var(--mainD);
}

.animated-item {
  line-height: inherit;
  display: block;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  animation: BottomTotop 6s linear infinite 0s;
}
.animated-item:nth-child(2n+2) {
  animation-delay: 2s;
}
.animated-item:nth-child(3n+3) {
  animation-delay: 4s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*----------------FAQ------------*/
#FAQs{
  max-width: 1000px;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
#FAQs h2{
  font-weight: 800;
  color: var(--mainD);
  font-size: 2rem;
}
.answer {
  display: none;
  transition: max-height 0.3s ease-in-out; /* Smooth transition */
  max-height: 0;
  overflow: hidden;
}

/* Show the answer when the 'show' class is added */
.answer.show {
  display: block;
  max-height: 1000px; /* Adjust this value based on your content height */
  padding-bottom: 1rem;

}

/* Style for the questions */
.question {
  cursor: pointer;
  /* Add additional styling as needed */
}
/* Style for the FAQ items */
.faq-item {
  /* Add additional styling as needed */
  border-bottom: 1px solid var(--main);
}